.DS_Store

.idea/
/tmp/
/logs/
/builds/
/.dragonruby/itchio-butler/
/.dragonruby

# DR
/docs/
/samples/
ctags-vim
ctags-emacs
console-logo.png
font.ttf
CHANGELOG-CURR.txt
CHANGELOG-PREV.txt
open-source-licenses.txt
README.txt
VERSION.txt
eula.txt
dragonruby.png
dragonruby-controller.png

# Mac/Linux
dragonruby
dragonruby-httpd
dragonruby-publish

# Windows
dragonruby.exe
dragonruby-httpd.exe
dragonruby-publish.exe
